<main class="card__container">
  <div class="card__main">
    <div class="card__images">
      <div class="card__bg-image"></div>
      <img
        class="card__back"
        src="assets/images/bg-card-back.png"
        alt="card-back"
      />
      <img
        class="card__front"
        src="assets/images/bg-card-front.png"
        alt="card-front"
      />
      <span class="card__security">000</span>
      <img
        src="assets/images/card-logo.svg"
        alt="card logo"
        class="card__logo"
      />
    </div>
    <div class="card__form"></div>
  </div>
</main>
