<main class="card__container">
  <div class="card__main">
    <div class="card__images">
      <!-- <img
        class="card__main-bg"
        src="assets/images/bg-main-mobile.png"
        alt="bg-mobile"
      /> -->
      <img
        class="card__back"
        src="assets/images/bg-card-back.png"
        alt="card-back"
      />
      <img
        class="card__front"
        src="assets/images/bg-card-front.png"
        alt="card-front"
      />
    </div>
    <div class="card__form"></div>
  </div>
</main>
