<main class="card__container">
  <div class="card__main">
    <div class="card__images">
      <div class="card__bg-image">
        <img
          src="assets/images/bg-main-desktop.png"
          alt="desktop"
          class="card__desktop-image"
        />
      </div>
      <img
        class="card__back"
        src="assets/images/bg-card-back.png"
        alt="card-back"
      />
      <img
        class="card__front"
        src="assets/images/bg-card-front.png"
        alt="card-front"
      />
      <span class="card__security place-center">000</span>
      <img
        src="assets/images/card-logo.svg"
        alt="card logo"
        class="card__logo"
      />
      <span class="card__number place-center">0000 0000 0000 0000</span>
      <span class="card__name place-center">JANE APPLESEED</span>
      <span class="card__date place-center">00/00</span>
    </div>
  </div>
  <div class="card__form">
    <form
      action=""
      class="card__info"
      [formGroup]="cardForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="name"> CARDHODLER NAME</label>
      <input
        type="text"
        id="name"
        name="name"
        value="e.g. Jane Appleseed"
        autocomplete="off"
        formControlName="name"
      />
      <span
        [ngStyle]="{
          visibility: f.name.touched && f.name.invalid ? 'visible' : 'hidden'
        }"
        class="card__warning"
      >
        Name is required</span
      >
      <label for="card-number">CARD NUMBER</label>
      <input
        type="text"
        id="card-number"
        name="card-number"
        value="e.g. 1234 5678 9123 0000"
        maxlength="19"
        autocomplete="off"
        formControlName="cardNumber"
      />
      <span
        [ngStyle]="{
          visibility:
            f.cardNumber.touched && f.cardNumber.invalid ? 'visible' : 'hidden'
        }"
        class="card__warning"
        >Wrong format, numbers only</span
      >
      <label for="date"
        >EXP.DATE (MM/YY) <span class="card__cvc">CVC</span></label
      >
      <div class="card__exp">
        <input
          class="month"
          type="text"
          id="date"
          name="date"
          value="MM"
          maxlength="2"
          autocomplete="off"
          formControlName="month"
        />
        <div class="space"></div>
        <input
          class="year"
          type="text"
          id="date"
          name="date"
          value="YY"
          maxlength="2"
          autocomplete="off"
          formControlName="year"
        />
        <div class="space"></div>
        <input
          class="cvc"
          type="text"
          id="date"
          name="date"
          value="e.g. 123"
          maxlength="3"
          autocomplete="off"
          formControlName="cvc"
        />
        <span
          [ngStyle]="{
            visibility:
              f.month.touched && f.month.invalid ? 'visible' : 'hidden'
          }"
          class="card__warning"
          >Can't be blank</span
        >
        <div class="space"></div>
        <span
          [ngStyle]="{
            visibility: f.year.touched && f.year.invalid ? 'visible' : 'hidden'
          }"
          class="card__warning"
          >Can't be blank</span
        >
        <div class="space"></div>
        <span
          [ngStyle]="{
            visibility: f.cvc.touched && f.cvc.invalid ? 'visible' : 'hidden'
          }"
          class="card__warning"
          >Can't be blank</span
        >
      </div>
      <input type="submit" class="card__submit" value="Confirm" />
    </form>
  </div>
</main>
