.card__container{
  min-width:375px;
  max-width:1440px;
  
}

.card__main{
  display:grid;
  
}

.card__images{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(7,1fr);
}

.card__bg-image{
  grid-area:1/1/-2/-1;
  background-image: url('../assets/images/bg-main-mobile.png');
  background-size: contain;
  
}

.card__back{
  grid-area: 1/2/-1/6;
  padding-top:1.5rem;
  padding-right:1rem;
}

.card__front{
  grid-area: 3/1/8/5;
  padding-left:1rem;
  padding-top:2.25rem;
}

.card__security{
  grid-area: 3/4/4/6;
  color: var(--white);
  align-self: center;
  justify-self: center;
  font-size: .8rem;
  padding-left: 1.5rem;
  padding-top:.5rem;
}

.card__logo{
  grid-area: 4/1/6/3;
  justify-self: center;
  margin-top: 1rem;
  margin-left:.5rem;
}




